/*---- GENERAL STYLE -------------------------
--------------------------------------------*/

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(170, 185, 183);
}

h1 {
    font-weight: bold;
    font-size: 2.7em;
    padding-left: 35px;
    font-family: 'Roboto-Bold', sans-serif;
    margin: 0;
}

h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: 'Roboto-Bold', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-left: 35px;
}

h3 {
    font-size: 1.3em;
    text-align: center;
    font-family: 'Roboto-Bold', sans-serif;
}

p {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;

}

/************ HEADER *************************************
**********************************************************/
header {
    width: 100%;
	margin-left: auto;
    margin-right: auto;
}

.header-contener {
    display: flex;
    justify-content: space-between;
    position: fixed; /*Pour que le header suive la navigation*/
    width: 100%;
    height: 117px;
    background-color: #25aaf9;
    top: 0;
	right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
	align-items: center;
    z-index: 1000;
}

/* Partie logo du header */
#logo {
    display: flex;
    align-items: center;
    margin-left: 15rem;
}
/* Partie menu du header */
#nav {
    display: flex;
    align-items: center; /*centre le menu en hauteur*/
    margin-right: 15rem;/*place le menu plus a gauche */
}

#nav ul {    
    display: flex;
    justify-content: flex-end;
    margin: auto;
    width: 100%;
    list-style-type: none;/*supprime les puces*/
}

#nav ul li {
    margin-right: 20%;/*creer un espace entre les menus*/
}

#nav ul li a {
    text-decoration: none;/*supprime la décoration des liens*/
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-family: 'Roboto';
}

#nav ul li a:hover {
    padding-top: 10px; /*place le tirai en haut*/
    color: rgb(40, 12, 201);
    border-top: 3px solid rgb(40, 12, 201); /*creer le tirai bleu*/
}

.titleV {
    color: white;
}

#sousTitre {
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: 'Roboto-Bold', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-left: 35px;
}


/************* FIN SECTION HEADER ************************************
******************************************************************/

/************* SECTION SLIDER ************************************
******************************************************************/

/* Placement de la section */
#accueil {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 200px;
}

.slide-contener { /* fixe le slide */
    position: relative;
    overflow: hidden;/*comportement en depassement*/
    width: 100%;
}

.section-slider {
    position: relative;
    margin: 0;
    padding: 0;
    width: 90%;
    min-height: 600px;
    overflow-x: hidden;
    border: 3px solid #25aaf9;
  }
  
  .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .image1 {
    background-image: url("../images/slider/1.jpg");
  }
  
  .image2 {
    background-image: url("../images/slider/2.jpg");
    display: none;
  }
  
  .image3 {
    background-image: url("../images/slider/3.jpg");
    display: none;
  }
  
  .slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    padding: 0;
    font-family: 'Roboto-Bold', sans-serif;
    width: 450px;
    min-height: 600px;
    overflow-x: hidden;
  }

  #slider p {
    margin-top: 10px;
    line-height: 24px;
    font-size: 18px;
    color: #fff;
  }
  
  #prev {
    position: absolute;
    cursor: pointer;
    top: 48%;
    width: 0;
    height: 0;
    left: 0;
    margin-left: 35px;
    color: #25aaf9;
    font-size: 30px;
  }
  
  #next {
    position: absolute;
    cursor: pointer;
    top: 48%;
    width: 0;
    height: 0;
    right: 0;
    margin-right: 65px;
    color: #25aaf9;
    font-size: 30px;
  }
  
  #pause{
    position: absolute;
    justify-content: center;
    cursor: pointer;
    bottom: 170px;
    color: #25aaf9;
    font-size: 40px;
  }
  
  #play{
    position: absolute;
    cursor: pointer;
    bottom: 170px;
    color: #25aaf9;
    font-size: 40px;
    display: none; /* On désactive le play par défaut pour afficher le bouton pause en premier*/
  }

/************* FIN SECTION SLIDER ************************************
******************************************************************/



/********** INFOS SECTION *************************************
******************************************************************/

#services {
    display: flex;
    flex-direction: column;
    padding-top: 82px;
}

#service-contener {
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* On met le tiret en place */
.tiret {
    position: relative;
    margin: auto;
    width: 170px; /*donne la longueur des tirets*/
    height: 1px; /*donne l'épaisseur des tirets*/
    background-color: rgba(230, 230, 230, 0.95);
    z-index: 4;
}

/* On met le point bleu en place*/
#service-contener .fa-circle {
    position: absolute;
    top: -16px; /* on centre le point par rapport au tiret */
    right: 40%;
    font-size: 1.2em; 
    color: #25aaf9;
    border: 7px solid white; /* on creer une bordure au rond */
    border-radius: 100%;
    margin-left: 12px;
    z-index: 30;
}
/********** FIN INFOS SECTION *************************************
******************************************************************/


/*****SECTION MAP*******************************************
****************************************************************/

#myMapSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

#map {
    justify-content: center;
    height: 600px;/*la carte de LeafletJS doit avoir une hauteur et largeur définie*/
    width: 1600px;
    border: 3px solid #25aaf9;
}

/*****FIN SECTION MAP*******************************************
****************************************************************/