
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(170, 185, 183);
}

h1 {
    font-weight: bold;
    font-size: 2.7em;
    padding-left: 35px;
    font-family: 'Roboto-Bold', sans-serif;
    margin: 0;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Roboto-Bold', sans-serif;
    text-align: center;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.3em;
    text-align: center;
    font-family: 'Roboto-Bold', sans-serif;
}

p {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

/************ HEADER *************************************
**********************************************************/

header {
    width: 100%;
	margin-left: auto;
    margin-right: auto;
}

.header-contener {
    display: flex;
    justify-content: space-between;
    position: fixed; /*Pour que le header suive la navigation*/
    width: 100%;
    height: 113px;/*hauteur du menu sans burger*/
    background-color: #25aaf9;
    top: 0;
	right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
	align-items: center;
    z-index: 10000;/*pour que le menu passe au dessus de tout meme les "leaflet control" */
}

/* Partie logo du header */
#sectionlogo {
    display: flex;
    align-items: center;
    margin-left: 15rem;
}
/* Partie menu du header */
#nav {
    display: flex;
    align-items: center; /*centre le menu en hauteur*/
    margin-right: 2rem;/*place le menu plus a gauche */
}

ul.list-unstyled {
    display: flex;
    justify-content: center;
    margin: auto;   
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 12px 0;
    transform: scaleY(0);
    transform-origin: center top;
    transition: all 0.3s ease;
    list-style-type: none;/*supprime les puces*/
    background: rgb(28, 114, 148);
    transform: scaleY(0);
    transform-origin: center top;
    transition: all 0.3s ease;
}

ul.open {
    transform: scaleY(1);
}

#nav ul li {
    padding: 10px 0;
    text-align: start;
    margin-right: 35px;/*creer un espace entre les menus*/
}

#nav ul li a {
    text-decoration: none;/*supprime la décoration des liens*/
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-family: 'Roboto';
}

#nav ul li a:hover {
    padding-top: 10px; /*place le tirai en haut*/
    color: rgb(40, 12, 201);
    border-top: 3px solid rgb(40, 12, 201); /*creer le tirai bleu*/
}

#burger {
    width:30px;
    height:2px;
    background:white;
    display:inline-block;
    position:relative;
}

#burger::before,
#burger::after {
    content:'';
    width:30px;
    height:2px;
    background:white;
    display:inline-block;
    position:absolute;
    transform-origin: center;
    transition: all 0.3s ease;
}

#burger::before {
    top:-7px;
}

#burger::after {
    top:7px;
}

#burger.open {
    background:transparent;
}

#burger.open::before {
    transform: rotate(45deg);
    top:0;
}

#burger.open::after {
    transform: rotate(-45deg);
    top:0;
}

/* Partie logo du header */
.titleV {
    color: white;
}

#sousTitre {
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: 'Roboto-Bold', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-left: 35px;
}


/************* FIN SECTION HEADER ************************************
******************************************************************/

/************* SECTION SLIDER ************************************
******************************************************************/

/* Placement de la section */
#accueil {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 180px;
}

#mySectionSlider {
    display:flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

#contenerImage {
    margin: 0;
    padding: 0;
    width: 90vw;
    border: 3px solid #25aaf9;
}

#slideImage {
    display: flex;
    flex-direction: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    max-height: 36vw;
}

#prev {
    position: absolute;
    cursor: pointer;
    left: 15px;
    top: 50%;
    margin: 0;
    color: #25aaf9;
    font-size: 40px;
  }
  
#next {
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: 50%;
    margin: 0;
    color: #25aaf9;
    font-size: 40px;
  }

#pause{
    position: absolute;
    cursor: pointer;
    margin-top: 17.3%;
    color: #25aaf9;
    font-size: 42px;
    right: 48.8%;
  }
  
#play{
    position: absolute;
    cursor: pointer;
    margin-top: 17.3%;
    color: #25aaf9;
    font-size: 42px;
    right: 48.8%;
    display: none;  /*On désactive le play par défaut pour afficher le bouton pause en premier*/
  }

/************* FIN SECTION SLIDER ************************************
******************************************************************/



/********** INFOS SECTION *************************************
******************************************************************/

#services {
    display: flex;
    flex-direction: column;
    padding-top: 82px;
}

#service-contener {
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* On met le tiret en place */
.tiret {
    position: relative;
    margin: auto;
    width: 170px; /*donne la longueur des tirets*/
    height: 1px; /*donne l'épaisseur des tirets*/
    background-color: rgba(230, 230, 230, 0.95);
    z-index: 4;
}

/* On met le point bleu en place*/
#service-contener .fa-circle {
    position: absolute;
    top: -16px; /* on centre le point par rapport au tiret */
    right: 40%;
    font-size: 1.2em; 
    color: #25aaf9;
    border: 7px solid white; /* on creer une bordure au rond */
    border-radius: 100%;
    margin-left: 12px;
    z-index: 30;
}

#para-expli {
    font-size: 1.7em;
}

#para-expli em  {
    color: white;
}


.list-text {
    color: black;
    font-size: 0.5em;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
}

#point {
    display: inline-block;
    list-style-type: disc;
    font-size: 3em;
    margin: 0;
}

#circle1 {
    position: relative;
    color: chartreuse;
    top: -5px;
}
  
#circle2 {
    position: relative;
    color: orange;
    top: -20px;
}

#circle3 {
    position: relative;
    color: red;
    top: -35px;
}
/********** FIN INFOS SECTION *************************************
******************************************************************/


/*****SECTION MAP*******************************************
****************************************************************/

#myMapSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
}

#map {
    justify-content: center;
    height: 36vw;/*la carte de LeafletJS doit avoir une hauteur et largeur définie*/
    width: 80vw;
    border: 4px solid #25aaf9;
}

/*****FIN SECTION MAP*******************************************
****************************************************************/


/*****SECTION STATION*******************************************
****************************************************************/

#myStationSection {
    margin-left: 20px;
    height: auto;
}

form#formSection {
    align-self: center;
    text-align: center;
    border: solid 4px #25aaf9;
    width: 296px;
}

form#formSection h2 {
    text-align: center;
    margin: 0;
    padding: 30px;
    color: #000000;
    background-color: rgb(37, 170, 249);
    font-size: 1.2em;
}

form p {
    text-align: center;
    color: #0820a5;
}

#submit {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 15px 35px;
    background-color: #25f937;
    color: white;
    border-radius: 3px;
}

/*****FIN SECTION STATION*******************************************
****************************************************************/

/*****SECTION CANVAS*******************************************
****************************************************************/

#myCanvasSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 20px;
    padding: 0;
}

form#canvasForm p {
    text-align: center;
    background-color: #25aaf9;
    color: #000000;
    padding: 5px;
    margin: 0;
    width: 294px;
    height: 30px;
}

canvas {
    width: 296px;
    border: solid 4px #25aaf9;
    padding: 0;

}

#inputCanvas {
    display: block;
}

#myCanvasSection input {
    margin: 0 0 0 20px;
    padding: 10px 35px;
    color: white;
}

#confirmCanvas {
    background-color: #25f937;
}

#resetCanvas {
    background-color: #f92c25;
}


/*****FIN SECTION CANVAS*******************************************
****************************************************************/

/*****SECTION RESERVATION****************************************
****************************************************************/
#myReservationSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 260px;
}

div#reservationInfo {
    background-color: #25aaf9;
    color: white;
    width: 100%;
}

div#reservationInfo h2 {
    font-size: 1.9em;
}

button#cancelReservation {
    margin: auto;
    display: block;
    padding: 15px;
    background-color: red;
    color: white;
    font-weight: bold;
}

.reservationCancel {
    color: #f92c25;
}

#reservationInfo h1 {
    padding: 0;
    text-align: center;
}

#reservationInfo p {
    text-align: center;
}

span#timer {
    font-weight: bold;
    color: red;
    text-align: center;
}

/*****FIN SECTION RESERVATION****************************************
****************************************************************/


/*****SECTION FOOTER****************************************
****************************************************************/
footer {
    display: inline;
    margin: 0;
    padding: 0;
}

footer p {
    text-align: center;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 1em;
}


/*****FIN SECTION FOOTER****************************************
****************************************************************/

/******************** MEDIA QUERIES***********************************
*********************************************************************/

@media only screen and (max-width: 1360px){
    
    #prev {
        left: 5px;
        top: 33%;
      }
      
    #next {
        right: 5px;
        top: 33%;
      }
    
    #pause{
        right: 48.7%;
      }
      
    #play{
        right: 48.7%;
      }

    #myMapSection {
        display: inline-block;
        margin-top: 50px;
    }

    #map {
        margin-inline-start: 10%;
    }

    #responsible {
        display: flex;
        margin-top: 20px;
        margin-left: 25%;
    }


    #myCanvasSection {
        display: flex;
    }

    #sectionlogo {
        margin-left: 0;
    }
}

@media only screen and (max-width: 1000px){

    #prev {
        left: 0;
        top: 29%;
      }
      
    #next {
        right: 0;
        top: 29%;
      }
    
    #pause{
        margin-top: 17.3%;
        right: 47%;
      }
      
    #play{
        margin-top: 17.3%;
        right: 47%;
      }


    #myMapSection {
        display: block;
    }

    #myStationSection {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
        margin-right: 0;
        margin-left: 20px;
        padding: 0;
    }

    #responsible {
        display: block;
        margin: auto;
    }
}

@media only screen and (max-width: 800px){

    h1 {
        font-size: 1.9em;
    }

    #sousTitre {
        display: none;
    }

    #para-expli {
        font-size: 1.2em;
    }

    .list-text {
        font-size: 0.4em;
    }

    #prev {
        left: 0;
        top: 24%;
      }
      
    #next {
        right: 0;
        top: 24%;
      }
    
    #pause{
        margin-top: 17.3%;
        right: 46%;
      }
      
    #play{
        margin-top: 17.3%;
        right: 46%;
      }

}

/******************** FIN MEDIA QUERIES***********************************
*********************************************************************/